.container {
  position: relative;
  display: flex;
  flex-direction: column;
  /* Stack the boxes vertically */
  align-items: center;
}

/*APEX LEGENDS*/
.box-containerapex {
  text-align: center;
  width: 92%;
  margin-top: 20px;
  margin-bottom: 25px;
  transition: transform 0.5s ease;
}

.box-containerapex:hover .box-content {
  transform: scale(1.05);
  opacity: 1;
  cursor: pointer;
  display: block;
  flex-wrap: wrap;
  flex-direction: row;
}

.box-containerapex:hover {
  transform: scale(1.05);
  opacity: 0.7;
  cursor: pointer;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.boxapex {
  background: url('https://i.redd.it/qfqgrfrc5yf61.png') center/cover;
  color: white;
  opacity: 0.9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


/*ROCKET LEAGUE*/
.box-containerrocket {
  text-align: center;
  width: 92%;
  margin-bottom: 25px;
  transition: transform 0.5s ease;
}


.box-containerrocket:hover .box-content {
  transform: scale(1.05);
  opacity: 1;
  cursor: pointer;
  display: block;
  flex-wrap: wrap;
  flex-direction: row;
}

.box-containerrocket:hover {
  transform: scale(1.05);
  opacity: 0.7;
  cursor: pointer;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.boxrocket {
  background: url('https://wallpapercave.com/wp/wp1854239.jpg') center/cover;
  color: white;
  opacity: 0.9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*RAINBOW SIX SIEGE*/
.box-containerrainbow {
  text-align: center;
  width: 92%;
  margin-bottom: 25px;
  transition: transform 0.5s ease;
}


.box-containerrainbow:hover .box-content {
  transform: scale(1.05);
  opacity: 1;
  cursor: pointer;
  display: block;
  flex-wrap: wrap;
  flex-direction: row;
}

.box-containerrainbow:hover {
  transform: scale(1.05);
  opacity: 0.7;
  cursor: pointer;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.boxrainbow {
  background: url('https://i.pinimg.com/originals/72/81/84/728184baa5e3282356d04d2208478aa8.jpg') center/cover;
  color: white;
  opacity: 0.9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*BRAWLHALLA*/

.box-containerbrawl {
  text-align: center;
  width: 92%;
  margin-bottom: 25px;
  transition: transform 0.5s ease;
}

.box-containerbrawl:hover .box-content {
  transform: scale(1.05);
  opacity: 1;
  cursor: pointer;
  display: block;
  flex-wrap: wrap;
  flex-direction: row;
}


.box-containerbrawl:hover {
  transform: scale(1.05);
  opacity: 0.7;
  cursor: pointer;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.boxbrawl {
  background: url('https://pbs.twimg.com/ext_tw_video_thumb/1535366600274194432/pu/img/4o6GossE0cwFUHpY.jpg:large') center/cover;
  color: white;
  opacity: 0.9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*COUNTER STRIKE 2*/

.box-containercs {
  text-align: center;
  width: 92%;
  transition: transform 0.5s ease;
}

.box-containercs:hover .box-content {
  transform: scale(1.05);
  opacity: 1;
  cursor: pointer;
  display: block;
  flex-wrap: wrap;
  flex-direction: row;
}


.box-containercs:hover {
  transform: scale(1.05);
  opacity: 0.7;
  cursor: pointer;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.boxcs {
  background: url('https://images7.alphacoders.com/133/thumb-1920-1333789.png') center/cover;
  color: white;
  opacity: 0.9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*BOX NAME*/
#boxname {
  color: white;
  opacity: 1;
  text-align: left;
  margin-top: 2px;
  width: 5000px;
  margin-left: 0;
  margin-bottom: 5px;
  font-size: 45px;
  font-weight: 800;
  font-family: monospace;
}

.box-content {
  background: white;
  color: #242424;
  opacity: 1;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  height: 220px;
  width: 300px;
  padding: 10px;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
  opacity: 0;
}