#introduction {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 700px;
    opacity: 1;
    background: url("../../public/background-intro.jpg");
    margin-left: 0;
    max-width: 100%;
    overflow: hidden; 
}

#title {
    font-size: 55px;
    font-family: monospace;
    color: transparent;
    background: linear-gradient(100deg, rgb(149, 149, 109) 5%, rgb(150, 124, 77), rgba(0, 115, 255, 0.582));
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;
}

#text-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 30px;  
}

#text1-container,
#text2-container {
    color: white;
    width: 45%;
    text-align: center  ;
    border: 1px solid white;
}

#text1,
#text2 {
    color: white;
    font-size: 22px;
    padding: 15px;
    font-family: monospace;
}

#text3-container {
    color: white;
    width: 45%;
    text-align: center;
    border: 1px solid white;
    margin-bottom: 20px;
    margin-top: 60px;
    padding: 15px;
}

#text3 {
    color: white;
    font-size: 22px;
    font-family: monospace;
    text-align: center;
}
