#container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    width: 600px;
    background: #fff;
    padding-bottom: 30px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

#text {
    color: #242424;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 10px;
    font-family: monospace;
}

#underline {
    width: 61px;
    height: 6px;
    background: #242424;
    border-radius: 9px;
}

#inputs {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#input {
    padding-left: 15px;
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background-color: #c7c5c5;
    border-radius: 6px;
}

#input input {
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

#forgot-password {
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 18PX;
    font-family: monospace;
}

#forgot-password span {
    color: #242424;
    cursor: pointer;
    font-family: monospace;
}

#submit-container {
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

#submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #242424;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    font-family: monospace;
}

#submit:hover {
    background: rgb(100, 100, 100);
    border: 1px solid #242424;
}

#footerSignUp-container {
    margin-top: 100px;
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    padding-bottom: 50px;
}

.login-link {
    margin-top: 20px;
    text-align: center;
}

.login-link-text {
    color: #242424;
    text-decoration: none;
    font-weight: bold;
    font-size: 19px;
    font-family: monospace;
}

.login-link-text:hover {
    text-decoration: underline;
}

#UserDashboard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
}

#profile-pic-container {
    margin-top: 100px;
    padding: 10px;
    text-align: center;
    /* Center text inside profile-pic-container */
}

#profile-pic {
    width: 150px;
    height: 150px;
    background-color: #ddd;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    /* Center profile-pic horizontally */
}

#change-username-container,
#delete-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#change-username {
    width: 200px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#dashboardtext {
    margin-top: 20px;
    font-size: 25px;
    color: white;
    font-family: monospace;
}

#delete-btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: monospace;
}

#submit-new-username {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #242424;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    font-family: monospace;
    margin-top: 10px;
}

#submit-new-username:hover {
    background: rgb(100, 100, 100);
    border: 1px solid white;
}

#login-error {
    color: #ff0000;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 60px;
    font-family: monospace;
}