#create-tournament-container {
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid white;
}

#create-tournament {
    margin-top: 20px;
}

#create-tournament-btn {
    font-family: monospace;
    font-size: 22px;
    margin: 0;
    background-color: white;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 15px;
}

#links {
    color: #242424;
    align-items: center;
    text-decoration: none;
    height: 40%;
    position: relative;
    padding-bottom: 0px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
}

.box-criar-tournament{
    background: 242424;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 70px;
}


/*UPCOMING TOURNAMENTS*/
#upcoming-tournaments-container {
    background: #242424;
    color: white;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}


h1 {
    width: 100%;
    margin-bottom: 15px;
    margin-left: 4%;
}

.box-upcoming-tournaments {
    background: white;
    color: #242424;
    opacity: 1;
    border-radius: 10px;
    margin-right: 20px; 
    margin-bottom: 20px;
    height: 440px;
    width: 300px; 
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
}

.box-upcoming-tournaments:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/*Find Event Search Bar*/
#search-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
    margin-top: 20px; /* Adjust as needed */
}

#searchInput {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-family: monospace;
    font-size: 15px;
}

#searchButton {
    padding: 16px 30px;
    background-color: white;
    font-size: 13px;
    color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
    font-family: monospace;
}

#searchButton:hover {
    background-color: grey;
}

.box-upcoming-tournaments img {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 10px; 
}

.box-upcoming-tournaments h2 {
    margin-bottom: 10px;
    font-size: 18px;
    font-family: monospace;
    text-align: center;
    border-top: 1px solid #242424;
    padding-top: 5px;
}

.box-upcoming-tournaments p {
    margin-bottom: 10px;
    font-size: 14px;
    font-family: monospace;
    color: rgb(118, 118, 118);
}

.box-upcoming-tournaments div {
    flex-grow: 1;
}

.box-upcoming-tournaments h3 {
    margin-bottom: 15px;
    font-size: 14px;
    font-family: monospace;
    margin-top: 0;
    color: rgb(118, 118, 118);
}

.box-upcoming-tournaments button {
    background-color: rgb(118, 118, 118);
    color: white;
    border: 0;
    height: 30px;
    border-radius: 10px;
}

.box-upcoming-tournaments button:hover {
    background-color: #242424;
    color: white;
}
