/*UPCOMING TOURNAMENTS*/
#upcoming-tournaments-container {
    background: #242424;
    color: white;
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.box-criar-tournament{
    background: 242424;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 70px;
}

h1 {
    width: 100%;
    margin-bottom: 15px;
    margin-left: 4%;
}

.box-upcoming-tournaments {
    background: white;
    color: #242424;
    opacity: 1;
    border-radius: 10px;
    margin-right: 20px; /* Adjust as needed for spacing between boxes */
    margin-bottom: 20px;
    height: 240px;
    width: 250px; /* Adjust as needed for the width of each box */
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
}

.box-upcoming-tournaments:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.box-upcoming-tournaments h2 {
    margin-bottom: 10px;
}


/*LIVE TOURNAMENTS*/
#live-tournaments-container {
    background: #242424;
    color: white;
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box-live-tournaments {
    background: white; 
    color: #242424;
    opacity: 1;
    border-radius: 10px;
    margin-right: 20px; /* Adjust as needed for spacing between boxes */
    margin-bottom: 20px;
    height: 240px;
    width: 250px; /* Adjust as needed for the width of each box */
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;

}

.box-live-tournaments:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.box-live-tournaments h2 {
    margin-bottom: 10px;
}

/*Recently Finished*/
#finished-tournaments-container {
    background: #242424;
    color: white;
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box-finished-tournaments {
    background: white; 
    color: #242424;
    opacity: 1;
    border-radius: 10px;
    margin-right: 20px; /* Adjust as needed for spacing between boxes */
    margin-bottom: 20px;
    height: 240px;
    width: 250px; /* Adjust as needed for the width of each box */
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
}

.box-finished-tournaments:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.box-finished-tournaments h2 {
    margin-bottom: 10px;
}