#create-tournament-container {
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid white;
}

#create-tournament {
    margin-top: 20px;
}

#create-tournament-btn {
    font-family: monospace;
    font-size: 22px;
    margin: 0;
    background-color: white;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 15px;
}

#links {
    color: #242424;
    align-items: center;
    text-decoration: none;
    height: 40%;
    position: relative;
    padding-bottom: 0px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
}


/*UPCOMING TOURNAMENTS*/
#upcoming-tournaments-container {
    background: #242424;
    color: white;
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.box-criar-tournament{
    background: 242424;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 70px;
}

h1 {
    width: 100%;
    margin-bottom: 15px;
    margin-left: 4%;
}

.box-upcoming-tournaments {
    background: white;
    color: #242424;
    opacity: 1;
    border-radius: 10px;
    margin-right: 20px; /* Adjust as needed for spacing between boxes */
    margin-bottom: 20px;
    height: 240px;
    width: 250px; /* Adjust as needed for the width of each box */
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
}

.box-upcoming-tournaments:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.box-upcoming-tournaments h2 {
    margin-bottom: 10px;
}


/*LIVE TOURNAMENTS*/
#live-tournaments-container {
    background: #242424;
    color: white;
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box-live-tournaments {
    background: white; 
    color: #242424;
    opacity: 1;
    border-radius: 10px;
    margin-right: 20px; /* Adjust as needed for spacing between boxes */
    margin-bottom: 20px;
    height: 240px;
    width: 250px; /* Adjust as needed for the width of each box */
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;

}

.box-live-tournaments:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.box-live-tournaments h2 {
    margin-bottom: 10px;
}

/*Recently Finished*/
#finished-tournaments-container {
    background: #242424;
    color: white;
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box-finished-tournaments {
    background: white; 
    color: #242424;
    opacity: 1;
    border-radius: 10px;
    margin-right: 20px; /* Adjust as needed for spacing between boxes */
    margin-bottom: 20px;
    height: 240px;
    width: 250px; /* Adjust as needed for the width of each box */
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
}

.box-finished-tournaments:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.box-finished-tournaments h2 {
    margin-bottom: 10px;
}




/*Find Event Search Bar*/
#search-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
    margin-top: 20px; /* Adjust as needed */
}

#searchInput {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-family: monospace;
    font-size: 15px;
}

#searchButton {
    padding: 16px 30px;
    background-color: white;
    font-size: 13px;
    color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
    font-family: monospace;
}

#searchButton:hover {
    background-color: grey;
}